<center>
<h1>Grandma's Neon Farmhouse</h1>
<h2>Located on planet Earth</h2>
</center>

  <div class="row">
    <div class="column">
      <%= image_tag "https://images.pexels.com/photos/2002719/pexels-photo-2002719.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/2050994/pexels-photo-2050994.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/3078831/pexels-photo-3078831.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/3186010/pexels-photo-3186010.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/2050976/pexels-photo-2050976.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
    </div>
    <div class="column">
      <%= image_tag "https://images.pexels.com/photos/3186010/pexels-photo-3186010.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7020950/pexels-photo-7020950.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7884122/pexels-photo-7884122.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/3779784/pexels-photo-3779784.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/3970946/pexels-photo-3970946.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7884132/pexels-photo-7884132.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7884600/pexels-photo-7884600.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7020688/pexels-photo-7020688.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
    </div>
    <div class="column">
      <%= image_tag "https://images.pexels.com/photos/2641886/pexels-photo-2641886.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/4255410/pexels-photo-4255410.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7884135/pexels-photo-7884135.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/5639378/pexels-photo-5639378.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/1301945/pexels-photo-1301945.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://thecozycook.com/wp-content/uploads/2020/10/Buttermilk-Biscuits-f.jpg" %>
      <%= image_tag "https://images.pexels.com/photos/750070/pexels-photo-750070.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
    </div>
    <div class="column">
      <%= image_tag "https://images.pexels.com/photos/3566120/pexels-photo-3566120.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/1082343/pexels-photo-1082343.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/3343624/pexels-photo-3343624.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/2641886/pexels-photo-2641886.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/3296394/pexels-photo-3296394.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
      <%= image_tag "https://images.pexels.com/photos/7020695/pexels-photo-7020695.jpeg?auto=compress&cs=tinysrgb&w=1600" %>
    </div>
  </div>