<center>
  <div class="whiteText">
    <h1>Grandma's Neon Farmhouse</h1>
    <h2>Located on planet Earth</h2>
  </div>
</center>

  <div class="row">
    <div class="column">
      <%= image_tag "ballin-grandma.jpeg" %>
      <%= image_tag "it-dream.jpeg" %>
      <%= image_tag "cocktail-grandma.jpeg" %>
      <%= image_tag "salmon-cube.jpeg" %>
    </div>
    <div class="column">
      <%= image_tag "be-brilliant.jpeg" %>
      <%= image_tag "craft-beer.jpeg" %>
      <%= image_tag "ice-cream.jpeg" %>
      <%= image_tag "mozzy-sticks.jpeg" %>
      <%= image_tag "coffee-cocktail.jpeg" %>
      <%= image_tag "grab-beer.jpeg" %>
    </div>
    <div class="column">
      <%= image_tag "skewers.jpeg" %>
      <%= image_tag "cocktails.jpeg" %>
      <%= image_tag "salad-stacked.jpeg" %>
      <%= image_tag "pizza-oven.jpeg" %>
    </div>
    <div class="column">
      <%= image_tag "salty-biscuits.jpeg" %>
      <%= image_tag "glasses-grandma.jpeg" %>
      <%= image_tag "pizza.jpeg" %>
      <%= image_tag "cheese-burger.jpeg" %>
      <%= image_tag "hands-up.jpeg" %>
      <%= image_tag "two-burgers.jpeg" %>
    </div>
  </div>