<h2>CART</h2>

<p> Order number <%= @order.id %></p>
<% if @order.items.any? %>
  <h4> Items:</h4>
  <% @order.items.each do |item| %>
    <ul>
      <li>
        <p><%= link_to item.dish, edit_order_item_path(@order, item) %></p>
        <p>$<%= item.cost %></p>
        <p><%= item.toppings.join(", ") %></p>
        <p><%= item.app_side %></p>
        <p><%= item.size %></p>
        <p><%= item.drink_type %></p>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>You have no items for this order.</p>
<% end %>

<%= link_to "Add new Item", new_order_item_path(@order)%>


<h2>Order Total Cost: $<%= cart_total(@order)%></h2>

<p> Confirm Order Button </p>
<%= link_to 'Proceed to Checkout', edit_order_path(@order), class: "btn btn-secondary" %>
<br>
<br>
<%= link_to "Cancel Order", order_path(@order), :method => "delete" %>
