<h2>Edit your <%=@item.dish%></h2>

<br>

<% if @item.dish == "pizza" %>
  <%= form_for [@order, @item] do |f| %>
    <%= f.label :size %>
    <%= f.select :size, [["small", "small"],["medium", "medium"],["large", "large"]]%>
    <% topping_list = ["pepperoni", "sausage"] %>
    <% topping_list.each do |topping|%>
      <%= f.check_box :toppings, { multiple: true }, topping, false %>
      <%= f.label topping %>
      <% end %>
    <%= f.submit %>
  <% end %>

<% elsif @item.dish == "burger" %>
  <%= form_for [@order, @item] do |f| %>
    <% topping_list = ["cheese", "bacon", "fried egg", "jalapeno", "onions", "lettuce", "pickles", "tomatoes"] %>
    <% topping_list.each do |topping|%>
      <%= f.check_box :toppings, { multiple: true }, topping, false %>
      <%= f.label topping %>
      <% end %>
    <%= f.submit %>
  <% end %>

<% elsif @item.dish == "salad" %>
  <%= form_for [@order, @item] do |f| %>
    <% topping_list = ["fried chicken", "grilled chicken", "salmon", "buttermilk ranch dressing", "caesar", "vinaigrette"] %>
    <% topping_list.each do |topping|%>
      <%= f.check_box :toppings, { multiple: true }, topping, false %>
      <%= f.label topping %>
      <% end %>
    <%= f.submit %>
<% end %>

<% elsif @item.dish == "drink" %>
  <%= form_for [@order, @item] do |f| %>
    <%= f.label :size %>
    <%= f.select :size, [["small", "small"],["medium", "medium"],["large", "large"]]%>
    <%= f.label :drink_type %>
    <%= f.select :drink_type, [["soda", "soda"],["milkshake", "milkshake"],["beer", "beer"],["wine", "wine"]]%>
    <%= f.submit %>
  <% end %>

<% elsif @item.dish == "app_side" %>
    <%= form_for [@order, @item] do |f| %>
    <%= f.label :app_side %>
    <%= f.select :app_side, [["fries", "fries"], ["mozzy sticks", "mozzy sticks"], ["spinach & artichoke dip", "spinach & artichoke dip"], ["grandma's salty biscuit", "grandma's salty biscuit"], ["spicy buffalo wings", "spicy buffalo wings"]]%>
    <%= f.submit %>
    <% end %>
<% end %>    

<%= link_to "Delete Item", order_item_path(@order, @item), :method => "delete" %>