<center>
<%= image_tag "neon_Burgers.jpeg" %>
<p>Our burgers are 100% fresh certified angus beef from Grandma's farm! <br> They come standard with a quarter pound beef patty, mayo and Grandma's special sauce. <br>Build your own burger from our selection of fresh toppings.</p>

<%# <h2>Pizzas</h2> %>
<%= image_tag "neon_Pizza.jpeg" %>
<p>Build your own pizza!</p>


<%= image_tag "neon_salads.jpeg" %>
<p>Fresh greens from Grandma's garden. <br> Featuring fried chicken, grilled chicken or salmon.</p>


<%= image_tag "neonAppetizers.jpeg" %>
<p>Appetizers are half price during happy hour - daily from 3pm - 6pm. <br> You have to try Grandma's famous salty buiscuts!</p>


<%= image_tag "neon_Drinks.jpeg" %>
<p>Soda, Milkshakes, Beer and Wine!</p>
</center>
