<div class="bgimg-1">
  <div class="caption">
  <span class="border" style="background-color: transparent;font-size:65px;color: #white;  font-weight: 900">MENU</span><br><br>
<span class="border" style="background-color:transparent;font-size:35px;color: white;">Our Offerings</span>
  </div>
</div>

<div style="color: #777;background-color:#000000;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;"><%= image_tag "neon_Burgers.jpeg"%></h3>
  <center><p>Our burgers are 100% fresh certified angus beef from Grandma's farm! <br> They come standard with a quarter pound beef patty, mayo and Grandma's special sauce. <br>Build your own burger from our selection of fresh toppings.</p></center>
</div>

<div class="bgimg-2">
  <div class="caption">
  </div>
</div>

<div style="color: #777;background-color:#000000;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;"><%= image_tag "neon_Pizza.jpeg"%></h3>
  <center><p>Build your own pizza!</p></center>
</div>

<div class="bgimg-3">
  <div class="caption">
  </div>
</div>

<div style="color: #777;background-color:#000000;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;"><%= image_tag "neon_salads.jpeg"%></h3>
  <center><p>Fresh greens from Grandma's garden. <br> Featuring fried chicken, grilled chicken or salmon.</p></center>
</div>

<div class="bgimg-4">
  <div class="caption">
  </div>
</div>

<div style="color: #777;background-color:#000000;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;"><%= image_tag "neonAppetizers.jpeg"%></h3>
  <center><p>Appetizers are half price during happy hour - daily from 3pm - 6pm. <br> You have to try Grandma's Famous Salty Biscuits!</p></center>
</div>

<div class="bgimg-5">
  <div class="caption">
  </div>
</div>

<div style="color: #777;background-color:#000000;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;"><%= image_tag "neon_Drinks.jpeg"%></h3>
  <center><p>Beer, Wine, Cocktails & More!</p></center>
</div>

<div class="bgimg-6">
  <div class="caption">
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
  <span class="border">Bon Appétit</span>
  </div>
</div>
