<h2>Add an Item to your Order</h2>


<a href="?sort=burger"><button>Add Burger</button></a>
<a href="?sort=pizza"><button>Add Pizza</button></a>
<a href="?sort=salad"><button>Add Salad</button></a>
<a href="?sort=app_side"><button>Add App/Side</button></a>
<a href="?sort=drink"><button>Add Drink</button></a>

<% if @item.dish == "pizza" %>
  <h2>Build Your Pizza</h2> 
  <%= form_for [@order, @item] do |f| %>
    <%= f.hidden_field :dish, value: "pizza" %>
    <%= f.label :size %>
    <%= f.select :size, [["small", "small"],["medium", "medium"],["large", "large"]]%>
    <% topping_list = ["pepperoni", "sausage"] %>
    <% topping_list.each do |topping|%>
      <%= f.check_box :toppings, { multiple: true }, topping, false %>
      <%= f.label topping %>
      <% end %>
    <%= f.submit %>
  <% end %>

<% elsif @item.dish == "burger" %>
  <h2>Build Your Burger</h2>
  <%= form_for [@order, @item] do |f| %>
    <%= f.hidden_field :dish, value: "burger" %>
    <% topping_list = ["cheese", "bacon"] %>
    <% topping_list.each do |topping|%>
      <%= f.check_box :toppings, { multiple: true }, topping, false %>
      <%= f.label topping %>
      <% end %>
    <%= f.submit %>
  <% end %>

<% elsif @item.dish == "salad" %>
  <h2>Build Your Salad</h2> 
  <%= form_for [@order, @item] do |f| %>
    <%= f.hidden_field :dish, value: "salad" %>
    <% topping_list = ["fried chicken", "baked chicken", "salmon", "dressing"] %>
    <% topping_list.each do |topping|%>
      <%= f.check_box :toppings, { multiple: true }, topping, false %>
      <%= f.label topping %>
      <% end %>
    <%= f.submit %>
<% end %>

<% elsif @item.dish == "drink" %>
  <h2>Choose Your Drink</h2> 
  <%= form_for [@order, @item] do |f| %>
    <%= f.hidden_field :dish, value: "drink" %>
    <%= f.label :size %>
    <%= f.select :size, [["small", "small"],["medium", "medium"],["large", "large"]]%>
    <%= f.label :drink_type %>
    <%= f.select :drink_type, [["soda", "soda"],["milkshake", "milkshake"],["beer", "beer"],["wine", "wine"]]%>
    <%= f.submit %>
  <% end %>

<% elsif @item.dish == "app_side" %>
  <h2>Choose Your App/Side</h2> 
  <%= form_for [@order, @item] do |f| %>
    <%= f.hidden_field :dish, value: "app_side" %>
    <%= f.label :app_side %>
    <%= f.select :app_side, [["fries", "fries"], ["mozzy sticks", "mozzy sticks"], ["spinach & artichoke dip", "spinach & artichoke dip"], ["grandma's salty buscuit", "grandma's salty buscuit"]]%>
    <%= f.submit %>
  <% end %>
<% end %>