<!DOCTYPE html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Grandma's Neon Farmhouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div>
  <%= render "layouts/navbar" %>
    <%= yield %>







    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="icon-bar">
      <a href="https://www.instagram.com/grandmas_neon_farmhouse/" class="instagram"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  </body>
</html>